{% load static %}

<html lang="en">
<head>
    <meta name="viewport" content="width=width-device, initial-scale=1">

    <!-- pour mettre les icones -->
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>

    <title>CBIR PROJECT</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
</head>
<body>

<main id="main1">
    <div style="height:90px;background-color:white;margin-top:0px;">


    <div id="div1">
       <span id="men1"><a href ="{% url 'home' %}" style="font-size: 16px;text-decoration:none;color:black"><b>ACCUEIL</b></a></span>
        <span id="men2"><a href ="{% url 'combine' %}" style="font-size: 16px;text-decoration:none;color:black"><b>EXTRACTION COMBINÉ</b></a></span>
        <span id="men3"><a href ="{% url 'simple' %}" style="font-size: 16px;text-decoration:none;color:black"><b>EXTRACTION SIMPLE </b></a></span>
    </div>


    <div id="div2">
          <span id="logo"><a href="{% url 'home' %}" ><img src="{% static 'image/logo.png'%}" alt="introuvable" width="300" height="90"></a></span>
        <span id="titre1"><a href="https://www.adidas.ca/fr" style="font-size: 8px;text-decoration:none;color:black">visitez également <b style="font-size: 14px;">google images</b></a></span>
        <span id="titre2"><a href ="#"style="font-size: 11px;text-decoration:none;color:black">inscription</a></span>
        <span id="titre3"><a href ="#" style="font-size: 11px;text-decoration:none;color:black">se connecter</a></span>
    </div>
    </div>
<div style="height:30px;width:100%;padding-bottom:15px;background-color:black;color:white;overflow:hidden">
<div style="height:4px;width:100%;padding-top:0px;padding-bottom:15px;padding-bottom:5px;background-color:black;color:white;"></div>

            <a href ="#" class="two" style="font-size: 13px; padding-left:380px;color:white;">Notre methode de developpement</a>
            <a href ="#" class="two" style="font-size: 13px;color:white;">Entrer en contact avec nous</a>
         <a href ="#" class="two" style="font-size: 13px;color:white;">En savoir plus sur notre base de donnée</a>
    </div>

<div style="height:400px;overflow:hidden;">
        <div id="div3">
        <span id="con1">
            <h1 style="font-size:25px;color:white">AUTEUR : GR46XG</h1>
        </span>
        <span id="con2">
            <h1 style="font-size:80px;text-align:center;color:white">MOTEUR DE RECHERCHE <br/>D'IMAGE</h1>
        </span>
        <span id="con3">
            <h1 style="font-size:15px;text-align:center;color:white">Pour chaque image que vous allez rentrer, notre application web va  comparer avec toutesles<br/> images. </h1>
        </span>
        <span id="con4"><img src="{% static 'image/robot3.png'%}" alt="introuvable" width="500" height="500" style="padding:0;margin:0;overflow:hidden"></span>
        <span id="con5"><a href="{% url 'simple' %}" style="font-weight: bold;padding:15px;background-color:black;color:white;text-decoration:none">RECHERCHE SIMPLE</a></span>
    </div>
</div>


</main>

<main id="main2">
<div style="height:400px;overflow:hidden;">


        <span id="con22">
            <h1 style="font-size:80px;text-align:center;color:white">UTILISEZ NOTRE MÉTHODE  <br/>COMBINÉ</h1>
        </span>
        <span id="con33">
            <h1 style="font-size:15px;text-align:center;color:white">Ici, nous utilisons deux techniques d'extrations pour après comparer  votre image avec celle de notre <br/> bases de donnée. </h1>
        </span>
        <span id="con44"><img src="{% static 'image/robot2.png'%}" alt="introuvable" width="500" height="400" style="padding:0;margin:0;overflow:hidden"></span>
        <span id="con55"><a href="{% url 'combine' %}" style="font-weight: bold;padding:15px;background-color:black;color:white;text-decoration:none">EXTRACTION COMBINÉ</a></span>

</div>


</main>

 <main id="main3">
        <div class="positioning">
            <span id="im1"></span>
            <span id="im2"></span>
            <span id="im3"></span>
            <span id="t1">Le Client peut rechercher l’image avec la technique d’extraction GLCM
Et une des distance proposé soit euclidienne ou  Tchebychev ou  Manhattan ou  Mahalanobis ou  Canberra
</span>
               <span id="t2">Le Client peut rechercher l’image avec la technique d’extraction BIT
Et une des distance proposé soit euclidienne ou Tchebychev ou Manhattan ou Mahalanobis ou  Canberra.
</span>
               <span id="t3">Le Client peut rechercher l’image avec la technique d’extraction LBT
Et une des distance proposé soit euclidienne ou Tchebychev ou  Manhattan ou  Mahalanobis ou  Canberra.

</span>
        </div>
</main>



  <div style="height:180px;background-color:yellow;">
    <div class="row">
    <div class="col-1"></div>
        <div class="col-4" style="padding-top:40px;padding-left:87px;font-weight:bolder;font-size:30px">
        <h3>JOIGNEZ NOUS EN ENVOYANT VOTRE ADRESSE ELECTRONIQUE</h3>
        </div>
        <div class="col-2"></div>
        <div class="col-4"  style="padding-top:60px"><form action="email.php" method="post">
        <input type="text" placeholder="Votre  Boite Email" style="padding:15px;width:300px"><button type="submit" class=" bg-dark text-light"  style="padding:15px;">go
</button>
        </form></div>

    </div>
    </div>
    <div>

    </div>


    <div style="height:370px;background: #d5dbdb;padding-top:50px;">
    <div class="container">
  <div class="row">
    <div class="col-sm-3">
      <p><b>IMAGES</b></p>
      <p><a href="aide.php" class="three">Covid-19</a></p>
      <p><a href="aide.php" class="three">Grossesse</a></p>
      <p><a href="aide.php" class="three">Chaussures de running</a></p>
      <p><a href="aide.php" class="three">Maladies</a></p>
    </div>
    <div class="col-sm-3">
      <p><b>DISTANCE</b></p>
      <p><a href="aide.php" class="three">Tchebychev</a></p>
      <p><a href="aide.php" class="three">Manhattan </a></p>
      <p><a href="aide.php" class="three">Mahalanobis</a></p>
      <p><a href="aide.php" class="three">Canberra</a></p>

    </div>

    <div class="col-sm-3">
      <p><b>TECHNIQUES D'EXTRATIONS </b></p>
      <p><a href="aide.php" class="three"> GLCM</a></p>
      <p><a href="aide.php" class="three">BIT</a></p>
      <p><a href="aide.php" class="three">LBT</a></p>
      <p><a href="aide.php" class="three">BIT ET GLCM</a></p>
      <p><a href="aide.php" class="three">BIT ET LBT</a></p>


    </div>
    <div class="col-sm-3">
      <p><b>COLLECTIONS</b></p>
      <p><a href="aide.php" class="three">sneaker pour enfant</a></p>
      <p><a href="aide.php" class="three">sacs a dos pour enfant</a></p>
      <p><a href="aide.php" class="three">chaussures de football pour enfant</a></p>
      <p><a href="aide.php" class="three">chaussures de running pour enfant</a></p>
      <p><a href="aide.php" class="three">jordan pour enfant</a></p>
      <p><a href="aide.php" class="three">sweat a capuche pour enfant</a></p>
      <p><a href="aide.php" class="three">t-shirt pour enfant</a></p>


    </div>
  </div>
</div>
</div>

<div style="height:100px;margin-bottom:0px" class="bg-dark">
<p style="padding-top:20px;padding-left:400px;font-weight:lighter;"class="text-light"><a href="aide.php" class="three" style="color:white">Canada <img src="{% static 'image/canada.png'%}" width=20 height=10 alt=""></a>
</p>
<div style="color:white;padding-left:200px;font-weight:lighter;font-size:12px;">
<pre style="color:white">Cookies          |         Site Map          |          Déclaration de Confidentialité    |       Conditions d’utilisation        |        Imprint|©   2020   adidas   Canada   Limited</pre>
</div>

</div>

</body>
</html>
